body {
  align-items: center;
  text-align: center;
}

.loadImage {
  overflow: hidden;
  justify-items: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
}

#uploadedImage {
  width: 100%;
  height: 300px;
}

#croppedImage {
  overflow: hidden;
  width: 400px;
  height: 200px;
}

#cropResult {
  overflow: hidden;
  width: auto;
  height: auto;
}